{{ airport.name }}
<hr>
<ul>
{% for flight in flights %}
    <li>{{ flight.getOtherAirport.name }}
        <ul>
            <li>{{ flight.getCode }}</li>
            <li>{{ flight.getAirline.name }}</li>
            <li>{{ flight.getScheduleTime.format('d.m.Y H:i:s') }}</li>
        </ul>
    </li>
{% endfor %}
</ul>