{% extends '::base.html.twig' %}

{% block base_title %}
{% spaceless %}
    {% block title %}{{ 'Home'|trans }}{% endblock title %} - {{ 'FlyAPI'|trans }}
{% endspaceless %}
{% endblock base_title %}

{% block stylesheets %}
    {{ parent() }}
    {# temporarily hide sidebar #}
    <style>
        #sidebar-nav {
            display: none;
        }
        .content {
            margin-left: 0;
            margin-bottom: 0;
        }
    </style>
{% endblock stylesheets %}

{% block body %}

    <!-- navbar -->
    <header class="navbar navbar-inverse" role="banner">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" id="menu-toggler">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1>
                <a class="navbar-brand" href="{{ path('home') }}">{% block header %}flyapi.no{% endblock header %}</a>
            </h1>
        </div>
        <ul class="nav navbar-nav pull-right hidden-xs">
            <li class="hidden-xs hidden-sm">
                <input class="search" type="text" />
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown">
                    Min konto
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Mine nøkler</a></li>
                    <li><a href="#">Endre passord</a></li>
                </ul>
            </li>
            <li class="settings hidden-xs hidden-sm">
                <a href="" role="button">
                    <i class="icon-share-alt"></i>
                </a>
            </li>
        </ul>
    </header>
    <!-- end navbar -->

    <!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li class="active">
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a href="{{ path('home') }}">
                    <i class="icon-map-marker"></i>
                    <span>Flyplasser</span>
                </a>
            </li>
            <li>
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a href="{{ path('home') }}">
                    <i class="icon-fighter-jet"></i>
                    <span>Flyselskaper</span>
                </a>
            </li>
            <li>
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a href="{{ path('home') }}">
                    <i class="icon-eye-open"></i>
                    <span>Overvåkning</span>
                </a>
            </li>
            <li>
                <a href="chart-showcase.html">
                    <i class="icon-signal"></i>
                    <span>Statistikk</span>
                </a>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-globe"></i>
                    <span>REST API</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="">Hva er REST API?</a></li>
                    <li><a href="">Dokumentasjon</a></li>
                    <li><a href="">Lag ny konto</a></li>
                    <li><a href="">Logg inn</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- end sidebar -->


    <!-- main container -->
    <div class="content">
        <!-- settings changer -->
        <!--<div class="skins-nav">
            <a href="#" class="skin first_nav selected">
                <span class="icon"></span><span class="text">Default skin</span>
            </a>
            <a href="#" class="skin second_nav" data-file="css/skins/dark.css">
                <span class="icon"></span><span class="text">Dark skin</span>
            </a>
        </div>-->
        {% block content %}
        {% endblock content %}
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}
