{% extends 'FriggFlightBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/theme/index.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('css/jquery.dataTables.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/datatables.css') }}" type="text/css" />
{% endblock %}

{% block content %}
    <!-- upper main stats -->
    <div id="main-stats">
        <div class="row stats-row">
            <div class="col-md-3 col-sm-3 stat">
                <div class="data">
                    <span class="number">
                        {{ include('FriggFlightBundle::hinclude.html.twig') }}
                    </span>
                    aktivitet
                </div>
                <span class="date">akkurat nå</span>
            </div>
            <div class="col-md-3 col-sm-3 stat">
                <div class="data">
                    <span class="number">
                    {{ render_hinclude(url('get_airport_flights_count', {'airportId': current_airport.id, 'direction': 'D', '_format': 'html'})) }}
                    </span>
                    avganger
                </div>
                <span class="date">i dag</span>
            </div>
            <div class="col-md-3 col-sm-3 stat">
                <div class="data">
                    <span class="number">
                        {{ render_hinclude(url('get_airport_flights_count', {'airportId': current_airport.id, 'direction': 'A', '_format': 'html'})) }}
                    </span>
                    ankomster
                </div>
                <span class="date">i dag</span>
            </div>
            <div class="col-md-3 col-sm-3 stat last">
                <div class="data">
                    <span class="number">
                        {{ render_hinclude(url('get_airport_flights_count', {'airportId': current_airport.id, 'is_delayed': 'Y', '_format': 'html'})) }}
                    </span>
                    forsinkelser
                </div>
                <span class="date">i dag</span>
            </div>
        </div>
    </div>
    <!-- end upper main stats -->

    <div id="pad-wrapper">

        <!-- statistics chart built with jQuery Flot -->
        {#
        <div class="row chart">
            <div class="col-md-12">
                <div class="clearfix pull-left">
                    <h4 class="title inline-block">Velg en flyplass</h4>
                    <select>
                        {% for airport in avinor_airports %}
                            <option value="{{ airport.id }}"{% if airport.id == current_airport.id %} selected{% endif %}>{{ airport.name }} ({{ airport.code}})</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="btn-group pull-right">
                    <button class="glow left">DAY</button>
                    <button class="glow middle active">MONTH</button>
                    <button class="glow right">YEAR</button>
                </div>
            </div>
            <div class="col-md-12">
                 <div id="statsChart"></div>
            </div>
        </div>
        <hr>
        #}
        <div class="row">
            <div class="col-md-12">
                <h4 class="title">Avganger fra {{ current_airport.code }}</h3>
                <hr>
                {{ render(url('get_airport_flights', {
                    'airportId': current_airport.id,
                    'direction': 'D',
                    'from_time': 'now'|date('U') - (60 * 60),
                    'to_time': 'now'|date('U') + (12 * (60 * 60)),
                    '_format': 'html'
                })) }}
            </div>
        </div>
    </div>
{% endblock content %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript">
        $(function () {

            $('.table-departures').dataTable({
                "sPaginationType": "full_numbers",
                "oLanguage": {
                    "sUrl": "js/dataTables/dataTables.norwegian.txt"
                }
            });
            $('.table-departures').fadeIn('slow');

            // jQuery Knobs
            $(".knob").knob();
            /*

            // jQuery UI Sliders
            $(".slider-sample1").slider({
                value: 100,
                min: 1,
                max: 500
            });
            $(".slider-sample2").slider({
                range: "min",
                value: 130,
                min: 1,
                max: 500
            });
            $(".slider-sample3").slider({
                range: true,
                min: 0,
                max: 500,
                values: [ 40, 170 ],
            });

            // jQuery Flot Chart
            var departures = [[1, 52], [2, 40], [3, 45], [4, 23],[5, 55],[6, 65],[7, 61],[8, 70],[9, 65],[10, 75],[11, 57],[12, 59]];
            var arrivals = [[1, 25], [2, 50], [3, 23], [4, 48],[5, 38],[6, 40],[7, 47],[8, 55],[9.8, 43],[10,50],[11,47],[12, 39]];

            var plot = $.plot($("#statsChart"),
                [ { data: departures, label: "Avganger"},
                 { data: arrivals, label: "Ankomster" }], {
                    series: {
                        lines: { show: true,
                                lineWidth: 1,
                                fill: true,
                                fillColor: {colors:[{ opacity: 0.1 }, { opacity: 0.13 } ] }
                             },
                        points: { show: true,
                                 lineWidth: 2,
                                 radius: 3
                             },
                        shadowSize: 0,
                        stack: true
                    },
                    grid: { hoverable: true,
                           clickable: true,
                           tickColor: "#f9f9f9",
                           borderWidth: 0
                        },
                    legend: {
                            // show: false
                            labelBoxBorderColor: "#fff"
                        },
                    colors: ["#30a0eb", "#a7b5c5"],
                    xaxis: {
                        ticks: [[1, "JAN"], [2, "FEB"], [3, "MAR"], [4,"APR"], [5,"MAY"], [6,"JUN"],
                               [7,"JUL"], [8,"AUG"], [9,"SEP"], [10,"OCT"], [11,"NOV"], [12,"DEC"]],
                        font: {
                            size: 12,
                            family: "Open Sans, Arial",
                            variant: "small-caps",
                            color: "#697695"
                        }
                    },
                    yaxis: {
                        ticks:3,
                        tickDecimals: 0,
                        font: {size:12, color: "#9da3a9"}
                    }
                 });

            function showTooltip(x, y, contents) {
                $('<div id="tooltip">' + contents + '</div>').css( {
                    position: 'absolute',
                    display: 'none',
                    top: y - 30,
                    left: x - 50,
                    color: "#fff",
                    padding: '2px 5px',
                    'border-radius': '6px',
                    'background-color': '#000',
                    opacity: 0.80
                }).appendTo("body").fadeIn(200);
            }

            var previousPoint = null;
            $("#statsChart").bind("plothover", function (event, pos, item) {
                if (item) {
                    if (previousPoint != item.dataIndex) {
                        previousPoint = item.dataIndex;

                        $("#tooltip").remove();
                        var x = item.datapoint[0].toFixed(0),
                            y = item.datapoint[1].toFixed(0);

                        var month = item.series.xaxis.ticks[item.dataIndex].label;

                        showTooltip(item.pageX, item.pageY,
                                    item.series.label + " of " + month + ": " + y);
                    }
                }
                else {
                    $("#tooltip").remove();
                    previousPoint = null;
                }
            });
            */
        });
    </script>
{% endblock %}